<section class="screen">
    <div class="container">
        <div class="screen__row screen__row_gomeo">
            <div class="screen__left">
                <h1 class="screen__title">
                    Что лечит гомеопатия
                </h1>
                <div class="screen__text">
                    <p>Ряд заболеваний, при которых применимо и приветствуется лечение гомеопатией, включает хронические заболевания желудочно-кишечного тракта, требующие нормализации деятельности, аллергические кожные реакции и псориаз, хронические заболевания
                        дыхательной системы у детей. Частой проблемой, которую приходится решать специалистам по гомеопатическому лечению, является снижение остроты слуха и нервной проводимости у людей среднего и пожилого возраста.
                    </p>
                    <br>
                    <p>Уместной будет помощь гомеопата и при проведении различных реабилитационных процедур, не только у взрослых пациентов, но и у новорожденных. Поможет специалист и при энурезе, мочекаменной болезни. </p>
                </div>
            </div>
            <div class="screen__right">
                <div class="screen__image">
                    <picture>
                        <source srcset="../img/gomeo.webp" type="image/webp">
                        <img loading="lazy" src="../img/gomeo.png" class="image" width="571" height="486" alt="Аносова М.А.">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
