/* stylelint-disable */

@mixin burger {
    max-width: var(--burger-width);
    --burger-width: 30px;
    --burger-height: 30px;
    --burger-line-height: 2px;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #3BA6F4;
    background-color: transparent;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: var(--burger-width);
        height: var(--burger-line-height);
        background-color: currentColor;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        border-radius: 10px;
    }
    &::before {
        top: 7.5px;
    }
    &::after {
        top: calc(19.5px - var(--burger-line-height));
    }
    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: var(--burger-width);
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
        &:nth-child(1) {
            top: 13.5px;
            width: 15px;
            left: 25%;
        }
        &:nth-child(2) {
            top: 23.5px;
            width: 15px;
            left: 25%;
        }
    }
    &--active {
        &::before {
            top: 50%;
            transform: rotate(45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
        &::after {
            top: 50%;
            transform: rotate(-45deg);
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
        .burger__line {
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
    }
}
