<section class="screen">
    <div class="container">
        <div class="screen__row screen__row_about">
            <div class="screen__left">
                <h1 class="screen__title">
                    О докторе
                </h1>
                <div class="screen__subtitle screen__subtitle_blue">
                    Аносова Марина Александровна
                </div>
                <div class="screen__text">
                    <p>Дипломированный специалист с 2 высшими образованиями:</p>
                    <br>
                    <ul>
                        <li>- ГБОУ ВПО «РНИМУ им. Н.И. Пирогова» (специальность «Лечебное дело»); </li>
                        <li>- ГБОУ ВПО «РНИМУ им. Н.И. Пирогова» (специальность «Неврология»). </li>
                    </ul>
                    <br>
                    <p>Сертификат специалиста ФГБОУ ДПО «Институт повышения квалификации ФМБА» и Диплом о профессиональной переподготовке ФГБОУ ДПО «Институт повышения квалификации ФМБА» («Функциональная диагностика») с отличием.</p>
                    <br>
                    <p>Регулярно проходит курсы повышения квалификации для практикующих гомеопатией врачей на базе Санкт-Петербургской государственной медицинской академии им И.И. Мечникова (факультет «Классическая гомеопатия». </p>
                </div>
            </div>
            <div class="screen__right">
                <div class="screen__image">
                    <picture>
                        <source srcset="../img/main_vrach.webp" type="image/webp">
                        <img loading="lazy" src="../img/main_vrach.png" class="image" width="571" height="486" alt="Аносова М.А.">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
