<section class="sert sert_about">
    <div class="container">
        <div class="sert__row">
            <div class="sert__column">
                <div class="sert__title">Сертификаты</div>
            </div>
            <div class="sert__column">

                <div class="swiper sert__slider">
                    <div class="sert__btn">
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div id="lightgallery" class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sert__item">
                                <a href="../img/sert-1.jpg">
                                    <picture>
                                        <source srcset="../img/sert-1.webp" type="image/webp">
                                        <img loading="lazy" src="../img/sert-1.jpg" class="image" alt="Сертификаты">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sert__item">
                                <picture>
                                    <source srcset="../img/sert-2.webp" type="image/webp">
                                    <img loading="lazy" src="../img/sert-2.jpg" class="image" alt="Сертификаты">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sert__item">
                                <picture>
                                    <source srcset="../img/sert-3.webp" type="image/webp">
                                    <img loading="lazy" src="../img/sert-3.jpg" class="image" alt="Сертификаты">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sert__item">
                                <picture>
                                    <source srcset="../img/sert-4.webp" type="image/webp">
                                    <img loading="lazy" src="../img/sert-4.jpg" class="image" alt="Сертификаты">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sert__item">
                                <picture>
                                    <source srcset="../img/sert-4.webp" type="image/webp">
                                    <img loading="lazy" src="../img/sert-4.jpg" class="image" alt="Сертификаты">
                                </picture>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
