<section class="about">
    <div class="container">
        <div class="about__row">
            <div class="about__left" data-aos="fade-up-right">
                <div class="about__title">О докторе</div>
                <div class="about__subtitle">Аносова Марина Александровна</div>
                <div class="about__text">
                    <p>Дипломированный специалист с 2 высшими образованиями: - ГБОУ ВПО «РНИМУ им. Н.И. Пирогова» (специальность «Лечебное дело»); - ГБОУ ВПО «РНИМУ им. Н.И. Пирогова» (специальность «Неврология»).</p>
                    <p>Сертификат специалиста ФГБОУ ДПО «Институт повышения квалификации ФМБА» и Диплом о профессиональной переподготовке ФГБОУ ДПО «Институт повышения квалификации ФМБА» («Функциональная диагностика») с отличием.</p>
                    <p>Регулярно проходит курсы повышения квалификации для практикующих гомеопатией врачей на базе Санкт-Петербургской государственной медицинской академии им И.И. Мечникова (факультет «Классическая гомеопатия». </p>
                </div>
            </div>
            <div class="about__right" data-aos="fade-up-left">
                <div class="about__image">
                    <picture>
                        <source srcset="../img/about-image.webp" type="image/webp">
                        <img loading="lazy" src="../img/about-image.png" class="image" width="478" height="379" alt="О докторе">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
