<section class="faq" itemscope itemtype="https://schema.org/FAQPage">
    <div class="container">
        <div class="faq__row">
            <div class="faq__column">
                <div class="faq__title">
                    <h2>Часто задаваемые вопросы</h2>
                </div>
            </div>
            <div class="faq__column">
                <div class="faq__accordion">
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Кто такой врач-гомеопат?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Наряду с традиционной фармакологической медициной существует и медицина альтернативная, опирающаяся на многовековой опыт в излечении болезней. Врач-гомеопат – специалист, успешно соединяющий в себе знания обеих отраслей. В основе гомеопатического лечения
                                лежит использование лекарственных препаратов естественного происхождения, которые наносят меньше вреда организму человека и могут использоваться даже для лечения детей и беременных женщин. Традиционная медицина также неоднократно
                                обращалась к средствам гомеопатии, включая в состав традиционных лекарств змеиный яд, минералы, растительные экстракты. Врач-гомеопат основывает своё лечение исключительно на таких препаратах и не использует параллельно
                                с ними фармакологические средства.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Как проходит приём у врача-гомеопата?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Мы производим детские подгузники самого высочайшего качества и влажные салфетки. Все внешние слои для подгузника поставляются от Gulsan Holding, который является поставщиком и для PNG Pampers, а сырье закупается в Канаде, Японии, Германии, Тайване. Вся
                                наша продукция производится на самом современном итальянском оборудовании с соблюдением стандартов качества и под пристальным контролем специалистов.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Что лечат гомеопатией?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Наши продукция имеет необходимые сертификаты для продажи в Европу, а также ЕАС, пройдены дерматесты в Германии.
                            </p>
                        </div>
                    </div>
                    <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="faq__head" data-accordion-element-trigger><span itemprop="name">Какие цены на приём гомеопата?</span></div>
                        <div data-accordion-element-content class="faq__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                Бренд популярен в Турции за счет своего качества и экономичной цены. Ряд компаний раньше завозил оптом нашу продукцию - о ее качестве лучше всего свидетельствуют отзывы на маркетплейсах, в том числе Wildberries от довольных клиентов. На данный момент
                                у нас есть более 75 дистрибьюторов нашей продукции в разных странах мира (Включая Америку, Англию, Сербию, Молдавию, все страны СНГ, ОАЭ, Израиль).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
