<footer class="footer">
    <div class="container">
        <div class="footer__row footer__row_top">
            <div class="footer__contacts">
                <div class="footer__contacts-col">
                    <div class="footer__title">Контакты</div>
                    <div class="footer__data">
                        <div class="footer__head">Телефон:</div>
                        <div class="footer__footer"><a href="tel:+ 7 (912) 000 00 00">+ 7 (912) 000 00 00</a></div>
                    </div>
                    <div class="footer__data">
                        <div class="footer__head">E-mail:</div>
                        <div class="footer__footer"><a href="mailto:doctor@gomeopaty.ru">doctor@gomeopaty.ru</a></div>
                    </div>
                    <div class="footer__data">
                        <div class="footer__head">Адрес:</div>
                        <div class="footer__footer">г. Москва, Шелепихинская наб., 34 к 1</div>
                    </div>
                    <div class="footer__data">
                        <div class="footer__head">Время работы:</div>
                        <div class="footer__footer">
                            <p>Пн - Чт: 9.30 - 20.30</p>
                            <p>Пт: 9.30 - 19.30</p>
                            <p>Сб - Вс: выходной</p>
                        </div>
                    </div>
                </div>
                <div class="footer__contacts-col">
                    <div style="position:relative;overflow:hidden;">
                        <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
                        <a href="https://yandex.ru/maps/213/moscow/house/shelepikhinskaya_naberezhnaya_34k1/Z04YcwZiTEUCQFtvfXt3cH9hYQ==/?ll=37.512506%2C55.761325&utm_medium=mapframe&utm_source=maps&z=17.07" style="color:#eee;font-size:12px;position:absolute;top:14px;">Шелепихинская набережная, 34к1 —
              Яндекс Карты</a>
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCUNuMxwpA" width="100%" height="100%" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
                    </div>
                    <div class="footer__social footer__social_mobile">
                        <span>Подписывайтесь:</span>
                        <ul class="social" title="Подписывайтесь">
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--insta" aria-label="Наша страничка в Инстаграмм"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Фейсбуке"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Наша страничка в Телеграмм"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__row footer__row_bottom">
                <div class="footer__column">
                    <div class="footer__phone">
                        <span>Телефон:</span>
                        <a href="tel:+ 7 (912) 000 00 00">+ 7 (912) 000 00 00</a>
                    </div>
                    <div class="footer__mail">
                        <span>E-mail:</span>
                        <a href="mailto:doctor@gomeopaty.ru">doctor@gomeopaty.ru</a>
                    </div>

                </div>
                <div class="footer__column">
                    <div class="footer__adress">
                        <span>Адрес:</span>
                        <p>г. Москва, Шелепихинская наб., 34 к 1</p>
                    </div>
                    <div class="footer__time">
                        <span>Время работы:</span>
                        <p>Пн - Чт: 9.30 - 20.30</p>
                        <p>Пт: 9.30 - 19.30</p>
                        <p>Сб - Вс: выходной</p>
                    </div>
                    <div class="footer__social">
                        <span>Подписывайтесь:</span>
                        <ul class="social" title="Подписывайтесь">
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--insta" aria-label="Наша страничка в Инстаграмм"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Фейсбуке"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Наша страничка в Телеграмм"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <nav class="nav" title="footer-navigation">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">О докторе</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Что лечит гомеопатия</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Стоимость услуг</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Отзывы</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column">
                    <ul class="footer__news">
                        <span>Статьи</span>
                        <li>
                            <a href="">Лечение нейродермита у взрослых</a>
                        </li>
                        <li>
                            <a href="">Дерматит лечение</a>
                        </li>
                        <li>
                            <a href="">Экзема</a>
                        </li>
                        <li>
                            <a href="">Статья 4</a>
                        </li>
                        <li>
                            <a href="">Статья 5</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            Gomeopaty © 2022 Все права защищены
        </div>
    </div>
</footer>
<!-- Back to Top link -->
<div className="scroll-to-top">
    <span class="btn btn-position btn-style">
    <svg class="arrow">
      <path class="a1" d="M0 0 L30 22 L60 0"></path>
      <path class="a2" d="M0 20 L30 42 L60 20"></path>
      <path class="a3" d="M0 40 L30 62 L60 40"></path>
    </svg>
    </i>
</div>
<div class="graph-modal">
  <div class="graph-modal__container graph-modal__content_form" role="dialog" aria-modal="true"
    data-graph-target="call"><button class="graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content ">
      <div role="form" class="wpcf7" id="wpcf7-f184-o2" lang="ru-RU" dir="ltr">
        <div class="screen-reader-response">
          <p role="status" aria-live="polite" aria-atomic="true"></p>
          <ul></ul>
        </div>
        <form action="/#wpcf7-f184-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
          <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="184">
            <input type="hidden" name="_wpcf7_version" value="5.6">
            <input type="hidden" name="_wpcf7_locale" value="ru_RU">
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f184-o2">
            <input type="hidden" name="_wpcf7_container_post" value="0">
            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
            <input type="hidden" name="_wpcf7_recaptcha_response"
              value="03ANYolqs4E72KLyd2qjXQme3aicWA-Zxq8MZe_MSqQONVYOKGPRaeeQJXdZQa7-uKcXKMixZDeAmTPqXC3iV1aPbXkk9q92wm89K7uxzXhzMwVKPHJy1KuKGq_fxpUq1cY0T_TgG4UfM29tIrvzMjY4E9f5DsfbF-u9KGQJtJUO9Mpbg_J2ebLnbM21RT606vOeKMhLAkIyMRdEFl7x_6P9hkBTO8dZCqbelvbd3otK7ACGQa0Sze23MCqgJWQh5SsH-1MZ0NbxaII8QmOBqw3oueJGMOTLi-hXYuYa8THffx2HGsks9xdJJN8x65LeiAO29sylBpoiaIMSKznkTB5HdbYczlYkAvxB3lMM3mPcydUOanSbgaKgzRFUwlHcegNr2wuTYAVFlOfXGzMpvH23Dlu8egqB7IQ_Rc_vsxgmtx15RCB84b1fsHorOwKpztUpITbb65hIar">
          </div>
          <span class="wpcf7-form-control-wrap" data-name="text-455"><input type="text" name="text-455" value=""
              size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
              aria-invalid="false" placeholder="Введите имя"></span>
    <span class="wpcf7-form-control-wrap" data-name="tel-548"><input type="tel" name="tel-548" value="" size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
              aria-required="true" aria-invalid="false" placeholder="Введите телефон"></span>
    <input type="submit" value="Отправить" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span>
    <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
</div>
</div>
</div>
<div class="graph-modal__container graph-modal__content_form" role="dialog" aria-modal="true" data-graph-target="register"><button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
        <div role="form" class="wpcf7" id="wpcf7-f184-o2" lang="ru-RU" dir="ltr">
            <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true"></p>
                <ul></ul>
            </div>
            <form action="/#wpcf7-f184-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="184">
                    <input type="hidden" name="_wpcf7_version" value="5.6">
                    <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f184-o2">
                    <input type="hidden" name="_wpcf7_container_post" value="0">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    <input type="hidden" name="_wpcf7_recaptcha_response" value="03ANYolqs4E72KLyd2qjXQme3aicWA-Zxq8MZe_MSqQONVYOKGPRaeeQJXdZQa7-uKcXKMixZDeAmTPqXC3iV1aPbXkk9q92wm89K7uxzXhzMwVKPHJy1KuKGq_fxpUq1cY0T_TgG4UfM29tIrvzMjY4E9f5DsfbF-u9KGQJtJUO9Mpbg_J2ebLnbM21RT606vOeKMhLAkIyMRdEFl7x_6P9hkBTO8dZCqbelvbd3otK7ACGQa0Sze23MCqgJWQh5SsH-1MZ0NbxaII8QmOBqw3oueJGMOTLi-hXYuYa8THffx2HGsks9xdJJN8x65LeiAO29sylBpoiaIMSKznkTB5HdbYczlYkAvxB3lMM3mPcydUOanSbgaKgzRFUwlHcegNr2wuTYAVFlOfXGzMpvH23Dlu8egqB7IQ_Rc_vsxgmtx15RCB84b1fsHorOwKpztUpITbb65hIar">
                </div>
                <span class="wpcf7-form-control-wrap" data-name="text-455"><input type="text" name="text-455" value=""
              size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
              aria-invalid="false" placeholder="Введите имя"></span>
                <span class="wpcf7-form-control-wrap" data-name="tel-548"><input type="tel" name="tel-548" value="" size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
              aria-required="true" aria-invalid="false" placeholder="Введите телефон"></span>
                <input type="submit" value="Отправить" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span>
                <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
        </div>
    </div>
</div>
<div class="graph-modal__container graph-modal__clone" role="dialog" aria-modal="true">
    <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно" data-close="close"></button>
    <div class="graph-modal__content">
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js"></script>
