<header id="top" class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <div class="header__l-head">Аносова М.А.</div>
                <div class="header__l-subhead">врач-гомеопат с 1997 г.</div>
            </div>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
            </button>
            <nav class="header__nav nav" title="Navigation" data-menu>
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link header__nav-link_active">О враче</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Гомеопатия</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Цены </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Контакты </a>
                    </li>
                    <div class="header__call header__call_mobile">
                        <button class="btn-reset header__call-btn" data-graph-path="call">Перезвонить</button>
                    </div>
                </ul>

            </nav>
            <div class="header__data">
                <div class="header__phone">
                    <a href="tel:++7 (912) 000 00 00">+7 (912) 000 00 00</a>
                </div>
                <div class="header__mail">
                    <a href="mailto:doctor@gomeopaty.ru">doctor@gomeopaty.ru</a>
                </div>
            </div>
            <div class="header__call">
                <button class="btn-reset header__call-btn" data-graph-path="call">Перезвонить</button>
            </div>
        </div>
    </div>
</header>
