<section class="heal">
    <div class="container">
        <div class="heal__row">
            <div class="heal__column">
                <div class="heal__title">Что лечит гомеопатия </div>
            </div>
            <div class="heal__column">
                <div class="heal__items">
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Органы дыхания</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Ангина</li>
                            <li class="heal__list">Аспергиллёз</li>
                            <li class="heal__list">Бронхиальная астма</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">ЛОР-заболевания</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Гайморит</li>
                            <li class="heal__list">Поллиноз</li>
                            <li class="heal__list">Ринит</li>
                            <li class="heal__list">Тонзиллит</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Женские болезни</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Дисфункция яичников</li>
                            <li class="heal__list">Киста яичника</li>
                            <li class="heal__list">Молочница</li>
                            <li class="heal__list">Эндометриоз</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Органы пищеварения</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Гастрит</li>
                            <li class="heal__list">Панкреатит</li>
                            <li class="heal__list">Язва двенадцатиперстной кишки</li>
                            <li class="heal__list">Язва желудка</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Кожные заболевания</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Нейродермит</li>
                            <li class="heal__list">Псориаз</li>
                            <li class="heal__list">Угревая сыпь</li>
                            <li class="heal__list">Экзема</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Эндокринная система</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Зоб</li>
                            <li class="heal__list">Киста и узлы щитовидной железы</li>
                            <li class="heal__list">Сахарный диабет</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Опорно-двигательный аппарат</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Артрит и болезни суставов</li>
                            <li class="heal__list">Остеохондроз</li>
                            <li class="heal__list">Ревматизм</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Органы выделения</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Мочекаменная болезнь</li>
                            <li class="heal__list">Пиелонефрит</li>
                            <li class="heal__list">Цистит</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Сердечно-сосудистая система</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Аневризма грудной аорты</li>
                            <li class="heal__list">Гипертония</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Психо-неврологические</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Депрессия</li>
                            <li class="heal__list">Невроз</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Венозная система</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Варикозное расширение вен</li>
                            <li class="heal__list">Геморрой</li>
                        </ul>
                    </div>
                    <!-- list-->
                    <div class="heal__item">
                        <div class="heal__head">Мужские болезни</div>
                        <ul class="heal__lists">
                            <li class="heal__list">Простатит</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>