<section class="screen">
    <div class="container">
        <div class="screen__row">
            <div class="screen__left">
                <h1 class="screen__title">
                    <span>Лечение гомеопатией</span> в Москве
                </h1>
                <div class="screen__subtitle">
                    <span>Аносова Марина Александровна</span> — практикующий врач-гомеопат со стажем работы более 25 лет
                </div>
                <div class="screen__call">
                    <button class="btn-reset screen__btn" data-inception-path="">Записаться на приём</button>
                </div>
            </div>
            <div class="screen__right">
                <div class="screen__image">
                    <picture>
                        <source srcset="../img/main_vrach.webp" type="image/webp">
                        <img loading="lazy" src="../img/main_vrach.png" class="image" width="571" height="486" alt="Аносова М.А.">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>