<section class="options">
    <div class="container">
        <div class="options__row">
            <div class="options__row">
                <div class="options__column">
                    <div class="options__header">
                        <div class="options__icon">
                            <p>25</p>
                            <p>лет</p>
                        </div>
                    </div>
                    <div class="options__footer">
                        <div class="options__text">Стаж в<br> гомеопатии</div>
                    </div>
                </div>
                <div class="options__column">
                    <div class="options__header">
                        <div class="options__icon">
                            <p>7</p>
                            <p>лет</p>
                        </div>
                    </div>
                    <div class="options__footer">
                        <div class="options__text">Стаж в<br> кардиологии</div>
                    </div>
                </div>
                <div class="options__column">
                    <div class="options__header">
                        <div class="options__icon">
                            <img src="../img/book.svg" alt="Научные книги">
                        </div>
                    </div>
                    <div class="options__footer">
                        <div class="options__text">Научные<br> книги</div>
                    </div>
                </div>
                <div class="options__column">
                    <div class="options__header">
                        <div class="options__icon">
                            <img src="../img/publish.svg" alt="Многочисленные публикации">
                        </div>
                    </div>
                    <div class="options__footer">
                        <div class="options__text">Многочисленные<br> публикации</div>
                    </div>
                </div>
                <div class="options__column">
                    <div class="options__header">
                        <div class="options__icon">
                            <img src="../img/heart.svg" alt="Гомеопатия совместима при всех способах лечения">
                        </div>
                    </div>
                    <div class="options__footer">
                        <div class="options__text">Гомеопатия совместима при всех способах лечения</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>