<section class="reviews">
    <div class="container">
        <div class="reviews__row">
            <div class="reviews__title">Отзывы</div>
            <div class="reviews__items">
                <div class="reviews__item" data-aos="fade-up-right">
                    <div class="reviews__img">
                        <picture>
                            <source srcset="../img/reviews-1.webp" type="image/webp">
                            <img loading="lazy" src="../img/reviews-1.png" class="image" alt="Мария">
                        </picture>
                        <div class="reviews__name reviews__name_mobile">Мария</div>
                        <div class="reviews__year reviews__year_mobile">45 лет</div>
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">Моей дочери 5 лет. В 2 года мы пошли в сад и на протяжении нескольких лет постоянно болели. Честно говоря, устали от этого очень сильно. Ничего не помогало! 3 дня в садике и 2-3 недели дома лечимся! И наконец-то мы пришли на прием
                            к Марине Александровне. И вот уже пол года мы не пропускаем детский сад и начали ходить на различные кружки!</div>
                        <div class="reviews__name">Мария</div>
                        <div class="reviews__year">45 лет</div>
                    </div>
                </div>
                <div class="reviews__item" data-aos="fade-up-left">
                    <div class="reviews__img">
                        <picture>
                            <source srcset="../img/reviews-2.webp" type="image/webp">
                            <img loading="lazy" src="../img/reviews-2.png" class="image" alt="Игорь">
                        </picture>
                        <div class="reviews__name reviews__name_mobile">Игорь</div>
                        <div class="reviews__year reviews__year_mobile">32 лет</div>
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">Марина Александровна, настоящий специалист своего дела, обращайтесь! Много лет я страдал от аллергии, проходил множество обследований и сдавал кучу анализов. Жизнь изменилась после обращения к Марине Александровне! Спасибо Вам
                            огромное! Уже как полгода я живу полноценной жизнью!</div>
                        <div class="reviews__name">Игорь</div>
                        <div class="reviews__year">32 лет</div>
                    </div>
                </div>
                <div class="reviews__item" data-aos="fade-up-right">
                    <div class="reviews__img">
                        <picture>
                            <source srcset="../img/reviews-3.webp" type="image/webp">
                            <img loading="lazy" src="../img/reviews-3.png" class="image" alt="Тамара">
                        </picture>
                        <div class="reviews__name reviews__name_mobile">Тамара</div>
                        <div class="reviews__year reviews__year_mobile">35 лет</div>
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">Марина Александровна замечательный специалист! Обращаемся постоянно всей семьей, всегда внимательно выслушает проблему. Отзывчивый , внимательный , высоко квалифицированный доктор . Все её рекомендации заканчивались выздоровлением.
                            Доступные цены за отличный сервис. Дети счастливы! Буду рекомендовать Вас всем друзьям и знакомым!</div>
                        <div class="reviews__name">Тамара</div>
                        <div class="reviews__year">35 лет</div>
                    </div>
                </div>
            </div>
            <div class="reviews__more">
                <a href="#" class="reviews__btn">Смотреть больше</a>
            </div>
        </div>
    </div>
</section>
