<section class="text-b">
    <div class="container">
        <div class="text-b__row">
            <div class="text-b__column">
                <div class="text-b__title">Онлайн-консультация гомеопата</div>
                <div class="text-b__content">Врач-гомеопат проводит консультации в онлайн-режиме. Это особенно актуально в период всплеска инфекционных заболеваний и переполненных лечебных заведений. Онлайн-консультация врача-гомеопата не всегда позволяет поставить диагноз обратившемуся
                    пациенту, но она позволяет локализовать и идентифицировать проблему, объяснить пациенту необходимость личного обращения и последующего лечения у этого специалиста. Онлайн-консультация позволяет пациенту почувствовать себя более уверенно
                    в беседе с врачом, а отсутствие очереди и невозможность для пациентов делиться своими симптомами друг с другом позволяет врачу сразу поставить точный диагноз.</div>
            </div>
            <div class="text-b__column">
                <div class="text-b__title">Приём на дому</div>
                <div class="text-b__content">Врачи нашей клиники ведут не только стационарный приём, но и оказывают услуги по консультированию и лечению пациентов на дому. Вызвать врача-гомеопата в Москве можно, позвонив в клинику по телефону, указанному на сайте. Врачи проведут
                    обследование пациента и подберут необходимое лечение без посещения медицинского заведения, что очень повысит показатели инфекционной безопасности пациентов. Записаться на онлайн консультацию или приём врача-гомеопата можно, заполнив
                    форму обратной связи на нашем сайте. Наши специалисты свяжутся с Вами для уточнения деталей.</div>
            </div>
            <div class="text-b__column">
                <div class="text-b__title">Преимущества гомеопатии</div>
                <div class="text-b__content">Гомеопатия, в отличие от фармакологической медицины, имеет глубокие традиции и опыт лечения различных заболеваний. Каждое из средств гомеопатической медицины прошло проверку временем и подтвердило свою эффективность. Малые дозы активных
                    веществ позволяют говорить о меньшем негативном воздействии на организм, чем химические медикаментозные препараты, а природное происхождение гомеопатических средств часто делает их препаратами выбора при лечении нервных расстройств
                    и аллергических реакций. </div>
            </div>
            <div class="text-b__column">
                <div class="text-b__title">Наш врач- гомеопат</div>
                <div class="text-b__content">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
                    шрифтов, используя Lorem Ipsum для распечатки образцов.</div>
            </div>
            <div class="text-b__column">
                <div class="text-b__footer">Не ждите, когда болезнь возьмёт верх, при своевременном обращении к врачу-гомеопату удастся справиться с заболеванием и избежать его рецидивов.</div>
            </div>
        </div>
    </div>
</section>
